.flat{
    border:2px solid blue;
    border-radius: 10px;
    padding: 20px;
    margin-top: 25px;
    width:1110px;
    float:left;
}

table
{
    color: blueviolet;
    border: coral;
    border-radius: 5px;
}

h3{
    text-align: center;
    margin-bottom: 15px;
}

button[type=submit]:hover 
{
    background-color: rgb(4, 95, 4);
    cursor: pointer;
  }